<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Detalhes da Devolução</title>
  <link rel="stylesheet" href="/css/styles2.css?v=1776448519575">

  <style>
    body { padding: 20px; font-family: Arial; }
    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 20px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    h2 { margin-bottom: 10px; }
    table { width: 100%; border-collapse: collapse; }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th { background: #f4f4f4; }
  </style>
</head>
<body>
<!-- <footer>
                <div class="link_sites">

           <button id="logoutButton2">Sair</button>
           <a target="_blank" href="/admin">Área T.I.</a>
           <a href="/">Pedido de Venda</a>
           <a href="/devolucao">Pedido de Devolução</a>
           <a href="/comercial">Área Comercial</a>
           <a href="/logistica03">Área logística</a>
           <a href="/detalhesProdutos">Detalhes do Produto</a>
           <a href="/cadastroCliente">Cadastrar Cliente</a>
           <a href="/investComercial">Investimento</a>
           </div>
        </footer> -->
<h1>Detalhes da Devolução</h1>

<div class="card">
  <h2>Dados da devolução</h2>
  <div class="grid" id="dadosPedido"></div>
</div>
<button onclick="exportarDetalheExcel()">Exportar para Excel</button>
<div class="card">
  <h2>Produtos</h2>
  <table>
    <thead>
      <tr>
        <th>NF</th>
        <th>Data</th>
        <th>Código</th>
        <th>Lote</th>
        <th>Qtd</th>
        <th>UN</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody id="tabelaProdutos"></tbody>
  </table>
  <div class="card">
  <h2>Resumo</h2>
  <div id="resumoTotais"></div>
</div>
</div>

    <script src="/theme-toggle.js?v=1776448519575"></script>
<script src="/devolucaoDetalhe.js?v=1776448519575"></script>
</body>
</html>