body.light-theme header {
    background-color: var(--button-bg-light);
    color: var(--button-text-light);
}

body.dark-theme header {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
}

header {

    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #333;
    width: 100%;
    margin: 0 auto;
}

.link_sites {
    display: flex;
    justify-content:center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    flex-wrap: nowrap;
    gap: 15px;
   
}


.link_sites a {
    display: flex;
    justify-content:center;
    color:#ffffff ;
    text-align: center;
    padding-left: 20px;
    text-decoration: none;
    white-space: nowrap;
    font-size: clamp(9px, 1vw, 16px);
    
    transition: all .3s ease;
}

.link_sites label {
    display: flex;
    justify-content:center;
    margin-right: 15px;

}


.link_sites a:hover {
    color:rgba(225,0,152);
    font-size: 110%;
}
